<!DOCTYPE html>
<html>
<head>
    <title><%= '404' %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1><%= '404' %></h1>

    <p>На этой странице кофе нет. Попробуйте
        <a href="/auth">тут</a>
    </p>

</body>
</html>