<!DOCTYPE html>
<html>
<head>
    <title><%= 'Вход' %></title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/javascripts/css/bootstrap.css' />

    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1>
            <%= 'Вход' %>

            <small class="hidden-xs">
                <a href="/registration">Регистрация</a>
                <span>— если у Вас нет учетной записи</span>
            </small>

            <h6 class="hidden-sm hidden-md hidden-lg">
                <a href="/registration">Регистрация</a>
                <span>— если у Вас нет учетной записи</span>
            </h6>
        </h1>
    </div>


    <form class="form-inline" role="form" method="post">
        <div class="form-group">
            <label for="exampleInputEmail">Электронный адрес / Логин</label>
            <input class="form-control" id="exampleInputEmail" placeholder="Enter email" required="required" name="email">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword">Пароль</label>
            <input type="password" class="form-control" id="exampleInputPassword" placeholder="Password" required="required" name="password">
        </div>

        <button type="submit" class="btn btn-default">Отправить</button>
    </form>

    <% if(authorizationParams.register == false) {%>
        <div class="alert alert-danger m-top-15">Данный пользователь не зарегистрирован. Проверьте логин и пароль</div>
    <% } %>

</div>

</body>
</html>
