<!DOCTYPE html>
<html>
<head>
    <title><%= 'coffee-live' %></title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/javascripts/css/bootstrap.css' />

    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/js/bootstrap.min.js"></script>
</head>
<body>
    <h1>Добро пожаловать <%=user.firstName%></h1>

    <% if (user._id) { %>
        <form class="form-inline" role="form" method="post">
            <button name="logout" type="submit" class="btn btn-default">Выйти</button>
        </form>
    <% } else { %>
        <form class="form-inline" role="form" method="post">
            <button name="login" type="submit" class="btn btn-default">Войти</button>
        </form>
    <% } %>

</body>
</html>