<!DOCTYPE html>
<html>
<head>
    <title><%= 'Регистрация' %></title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/javascripts/css/bootstrap.css' />

    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/js/bootstrap.min.js"></script>



</head>
<body>
    <div class="container">
        <div class="page-header">
            <h1>
                <%= 'Регистрация' %>

                <small class="hidden-xs">
                    <a href="/auth">Вход</a>
                    <span>— если у Вас уже есть учетная запись</span>
                </small>

                <h6 class="hidden-sm hidden-md hidden-lg">
                    <a href="/auth">Вход</a>
                    <span>— если у Вас уже есть учетная запись</span>
                </h6>

            </h1>
        </div>

        <form class="form-horizontal registration-form" role="form" action="/registration" method="POST">
            <div class="form-group">

                <label for="surname" class="col-sm-2 control-label">Фамилия</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control surname" placeholder="Введите фамилию" name="surname">
                </div>

                <label for="firstName" class="col-sm-2 control-label">Имя</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control firstName" placeholder="Введите имя" name="firstName">
                </div>

            </div>
            <div class="form-group">
                <label for="patronymic" class="col-sm-2 control-label">Отчество</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control patronymic" placeholder="Введите отчество" name="patronymic">
                </div>
            </div>

            <hr/>

            <div class="form-group">

                <label for="email" class="col-sm-2 control-label">Email  <sup class="text-danger">*</sup></label>
                <div class="col-sm-4">
                    <input type="email" class="form-control email" required="required" placeholder="Электронный адрес" name="email">
                </div>

                <label for="password" class="col-sm-2 control-label">Пароль  <sup class="text-danger">*</sup></label>
                <div class="col-sm-4">
                    <input type="password" class="form-control password" required="required" placeholder="Введите пароль" name="password">
                </div>

            </div>

            <hr/>

             <div class="form-group">

                <label for="phone" class="col-sm-2 control-label">Тел.</label>
                <div class="col-xs-12 col-sm-4">

                    <div class="form-group phone-number">

                        <div class="col-xs-2">
                            <div class="telCountryCode pull-right">+7</div>
                        </div>

                        <div class="col-xs-4 col-lg-3">
                            <input type="tel" class="form-control telOperatorCode" value="" size="3" maxlength="3" placeholder="123" name="telOperatorCode">
                        </div>


                        <div class="col-xs-6 col-lg-7">
                            <input type="tel" class="form-control phoneNumber" value="" size="7" maxlength="7" placeholder="4567890" name="phoneNumber">
                        </div>
                    </div>



                </div>
                <div class="col-xs-12 col-sm-5">
                    <p class="pull-right"><sup class="text-danger">*</sup> - поля, обязательные для заполнения</p>
                </div>



            </div>

            <% if(!registrationParams.dubl) {%>
                <div class="form-group">
                    <div class="col-sm-offset-10 col-sm-2 pull-right">
                        <input type="submit" class="btn btn-success" value="Регистрация">
                    </div>
                </div>
            <%} else {%>
                <div class="form-group">
                    <div class="col-sm-10">
                        <div class="alert alert-danger">Пользователь с таким электронным адресом уже зарегестрирован</div>
                    </div>
                    <div class="col-sm-2 pull-right">
                        <input type="submit" class="btn btn-success" value="Регистрация">
                    </div>
                </div>
            <%}%>
        </form>
    </div>

</body>

<!--my scripts-->
<script>

    <!--Если код оператора достиг максимального значения, то фокус переходит на input номера-->
    $("input.telOperatorCode").bind("input", function() {
        var $this = $(this);
        setTimeout(function() {

        if ( $this.val().length >= parseInt($this.attr("maxlength"),10) )
            $("input.phoneNumber").focus();

        },0);
    });
</script>
</html>
