<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= 'Подтверждение регистрации' %></title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/javascripts/css/bootstrap.css' />

    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">

        <div class="page-header">
            <h1><%= 'Регистрация прошла успешно!' %></h1>

            <small class="hidden-xs">
                <span>На указанный почтовый ящик высланы данные Вашей учетной записи.</span>
                <a href="/gds">Купить кофе</a>
            </small>
        </div>

    </div>
</body>
</html>